@import url("../css/обнуление.css");

.body {
	font-family: 'PT Serif', sans-serif;
	max-width: 100%;
}

.header {
	padding: 34px 80px;
	font-size: 16px;
	font-weight: 400;

}

.header__nav {
	max-width: 1760px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 686px) {

	.header__nav {
		display: block;
	}
}

@media (max-width: 462px) {

	.header__list {
		display: flex;
		flex-direction: column;
	}
}

.header__logo {
	font-size: 25px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 2.5px;
	color: black;
}

.header__list {
	width: 368px;
	display: flex;
	justify-content: space-between;
}

.header__link {
	color: black;
}

.home {
	color: rgba(201, 169, 110, 1);
}

.footer {
	text-align: center;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.footer__title {
	margin: 100px 0px 60px 0px;
	font-size: 25px;
	font-weight: 700;
}

.footer__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 29px;
}

.footer__list {
	display: flex;
	width: 353px;
	justify-content: space-between;
}

.footer__link {
	color: black;
	font-size: 14px;
}

.footer__social {
	display: flex;
	justify-content: center;
	margin-bottom: 71px;

}

.footer__icons {
	display: flex;
	width: 304px;
	justify-content: space-between;

}

.footer__info {
	border-top: 1px solid black;
	width: 1170px;
}

.footer__text {
	margin-top: 30px;
	font-size: 14px;
	margin-bottom: 29px;
}

.vehicle {
	background-image: url('../img/vehicle/nature.png');
	width: 1740px;
	height: 700px;
}

.vehicle__body {
	color: white;
	padding-top: 490px;
	width: 530px;
	height: 100px;

}

.vehicle__title {
	font-size: 14px;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;

}

.vehicle__text {
	font-size: 40px;
	font-weight: 700;
	font-family: 'Noto Sans JP', 'PT Serif', serif, sans-serif;
	margin-bottom: 10px;
}

.vehicle__list {
	display: flex;
	justify-content: space-between;
	width: 283px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Noto Sans JP', 'PT Serif', serif, sans-serif;
	line-height: 18.55px;
}

.highlight {
	color: rgba(180, 180, 180, 1);
}

.article {}

.article__body {
	float: right;
	margin-top: 60px;
	margin-right: 250px;
}

.article__section {}

.article__title {
	width: 270px;
	height: 50px;
	border: 1px solid rgba(229, 229, 229, 1);
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	padding-top: 15px;
}

.article__author {
	margin-top: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 270px;
	text-align: center;
}

.article__img-box {}

.article__img {}

.article__name {
	padding-top: 20px;
	padding-bottom: 4px;
	font-size: 16px;
	font-weight: 700;
}

.article__subject {
	padding-bottom: 14px;
	color: rgba(177, 177, 177, 1);
	font-family: 'PT Serif';
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
}

.article__welcome {
	line-height: 24px;
	color: rgba(102, 102, 102, 1);

}

.article__button {
	color: rgba(201, 169, 110, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
	padding-top: 10PX;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	;
}

.article__feature {}

.article__post {}

.article__cloth {}

.article__text {}

.article__list {}

.article__item {}

.highlight {}

.article__categories {}

.article__list-category {}

.article__item-category {}

.article__link {}

.article__media {}

.article__block {}

.article__box {}

.article__img-social {}

.article__statistics {}

.article__tags {}

.article__boxes {}

.post-one {}

.post-one__body {
	display: flex;
	margin-top: 60px;
}

.post-one__column {
	margin-right: 30px;
}

.post-one__row {}

.post-one__img {}

.post-one__title {}

.post-one__tourism {}

.post-one__text {}

.post-one__list {}

.post-one__item {}

.highlight {}