@import url("../css/обнуление.css");

.body {
	font-family: 'PT Serif', sans-serif;
	max-width: 100%;
}

.header {
	padding: 34px 80px;
	font-size: 16px;
	font-weight: 400;

}

.header__nav {
	max-width: 1760px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 686px) {

	.header__nav {
		display: block;
	}
}

@media (max-width: 462px) {

	.header__list {
		display: flex;
		flex-direction: column;
	}
}

.header__logo {
	font-size: 25px;
	font-weight: 700;
	line-height: 33px;
	letter-spacing: 2.5px;
	color: black;
}

.header__list {
	width: 368px;
	display: flex;
	justify-content: space-between;
}

.header__link {
	color: black;
}

.home {
	color: rgba(201, 169, 110, 1);
}

.footer {
	text-align: center;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.footer__title {
	margin: 100px 0px 60px 0px;
	font-size: 25px;
	font-weight: 700;
}

.footer__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 29px;
}

.footer__list {
	display: flex;
	width: 353px;
	justify-content: space-between;
}

.footer__link {
	color: black;
	font-size: 14px;
}

.footer__social {
	display: flex;
	justify-content: center;
	margin-bottom: 71px;

}

.footer__icons {
	display: flex;
	width: 304px;
	justify-content: space-between;

}

.footer__info {
	border-top: 1px solid black;
	width: 1170px;
}

.footer__text {
	margin-top: 30px;
	font-size: 14px;
	margin-bottom: 29px;
}

.vehicle {
	background-image: url('../img/vehicle/nature.png');
	width: 1740px;
	height: 700px;
}

.vehicle__body {
	color: white;
	padding-top: 490px;
	width: 530px;
	height: 100px;

}

.vehicle__title {
	font-size: 14px;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;

}

.vehicle__text {
	font-size: 40px;
	font-weight: 700;
	font-family: 'Noto Sans JP', 'PT Serif', serif, sans-serif;
	margin-bottom: 10px;
}

.vehicle__list {
	display: flex;
	justify-content: space-between;
	width: 283px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Noto Sans JP', 'PT Serif', serif, sans-serif;
	line-height: 18.55px;
}



.article__body {
	float: right;
	margin-top: 60px;
	margin-right: 250px;
}

.article__title {
	border: 1px solid rgba(229, 229, 229, 1);
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	padding-top: 15px;
	padding-bottom: 14px;
	width: 270px;
}

.article__author {
	margin-top: 20px;
	margin-bottom: 70px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 270px;
	text-align: center;
}

.article__img {}

.article__name {
	padding-top: 20px;
	padding-bottom: 4px;
	font-size: 16px;
	font-weight: 700;
}

.article__subject {
	padding-bottom: 14px;
	color: rgba(177, 177, 177, 1);
	font-family: 'PT Serif';
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
}

.article__welcome {
	line-height: 24px;
	color: rgba(102, 102, 102, 1);
	text-align: center;
	margin: 14px 20px;
}

.article__button {
	width: 269px;
	background-color: white;
	color: rgba(201, 169, 110, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.article__cloth {
	font-size: 12px;
	line-height: 16px;
	color: rgba(201, 169, 110, 1);
	text-transform: uppercase;
	margin-top: 12px;
	margin-bottom: 4px;
}

.article__text {
	font-size: 18px;
	line-height: 26px;
	width: 250px;
	margin: 4px 10px;
	padding: 5px 5px;
}

.article__list,
.post-two__list {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	width: 166px;
	margin-left: 52px;
	margin-bottom: 14px;
}

.article__link {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 20px;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 19px;
	color: rgba(102, 102, 102, 1);
	font-size: 14px;
	line-height: 19px;
	font-family: 'PT Serif';
}

.article__link:last-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
}

.article__block {
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	margin-bottom: 70px;
}

.article__box {
	width: 88px;
	height: 88px;
	text-align: center;
	background-color: rgba(248, 249, 250, 1);
	margin-right: 3px;
}

.box {
	margin-right: 0px;
}

.green {
	border: 1px solid rgba(229, 229, 229, 1);
	margin-top: 70px;
	margin-bottom: 20px;
}

.post-one__body {
	display: flex;
	margin-top: 60px;
}

.post-one__column {
	margin-right: 30px;
}

.post-one__row {
	border: 1px solid rgba(229, 229, 229, 1);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	margin-bottom: 30px;
}

.post-one__title {
	text-align: center;
}

.post-one__text {
	font-size: 20px;
	line-height: 28px;
	width: 250px;
	margin-left: 43px;
	margin-bottom: 10px;
}

.post-one__list,
.post-two__list {
	margin-left: 102px;
	color: rgba(102, 102, 102, 1);
}

.highlight {
	color: rgba(177, 177, 177, 1);
}

.summer__body {
	border: 1px solid rgba(229, 229, 229, 1);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	width: 770px;
	margin-bottom: 30px;
}

.summer__header {
	margin: 25px 126px 25px 30px;
}

.summer__title {
	color: rgba(201, 169, 110, 1);
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	margin-bottom: 6px;
}

.summer__text {
	font-size: 20px;
	font-weight: 400;
	line-height: 27px;
	margin-bottom: 11px;

}

.summer__list {
	display: flex;
	justify-content: space-between;
	width: 243px;
	margin-bottom: 14px;
}

.summer__item {
	font-size: 12px;
	line-height: 16px;
	color: rgba(102, 102, 102, 1);

}

.summer__highlight {
	color: rgba(177, 177, 177, 1);
}

.sumemer__maint-text {
	color: rgba(102, 102, 102, 1);
	font-size: 14px;
	line-height: 24px;
	width: 570px;
}

.post-two__colums {
	display: flex;
	width: 770px;
	justify-content: space-between;

}


.post-two__colum {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(229, 229, 229, 1);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.post-two__title {
	text-align: center;
}

.post-two__text {
	margin-left: 60px;
}

	{}

.post-two__item {}